# Maven #
target/

# IDEA #
.idea/
*.iml

.classpath
.project

*.json
Files/
cache.dat
data/
fileMonitor.dll
tmp/
.settings/
fileSearcher.dll
out/
fileOpener32.exe
fileOpener64.exe
fileOpener.exe
fileToOpen.txt