# Maven #
target/

# IDEA #
.idea/
*.iml

.classpath
.project

*.json
Files/
cache.dat
data/
fileMonitor.dll
tmp/
.settings/
fileSearcher.exe
out/
user/
fileOpener.exe
fileToOpen.txt
/fileSearcher.exe
cmds.txt
gc.log
TEST
getAscII.dll
!version.json